@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3c3c3c;
    color: #ccc;
  }
  
  .stepperContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #stepperParent {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .steeper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .stepCount {
    height: 2rem;
    width: 2rem;
    border: 2px solid rgb(203, 187, 187);
    border-radius: 50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
  }
  
  .line {
    height: 2rem;
    width: 2px;
    background-color: rgb(203, 187, 187);
    position: absolute;
    top: 2rem;
  }
  
  .active {
    background-color: #3490e0;
  }
  